In [73]:
import pandas as pd

In [74]:
playlist_file = "MP3.tsv"
music_df = pd.read_csv(playlist_file,encoding="utf_16_le",sep="\t")

In [75]:
del music_df['Composer']
del music_df['Grouping']
del music_df['Work']
del music_df['Movement Number']
del music_df['Movement Count']
del music_df['Movement Name']
del music_df['Genre']
del music_df['Size']
del music_df['Time']
del music_df['Year']
del music_df['Date Added']
del music_df['Date Modified']
del music_df['Bit Rate']
del music_df['Sample Rate']
del music_df['Volume Adjustment']
del music_df['Equalizer']
del music_df['Comments']
del music_df['Plays']
del music_df['Last Played']
del music_df['Skips']
del music_df['Last Skipped']
del music_df['My Rating']
del music_df['Location']

In [76]:
music_df['Disc Count'] = music_df['Disc Count'].fillna(0)
music_df['Disc Count'] = music_df['Disc Count'].astype(int)
music_df['Disc Number'] = music_df['Disc Number'].fillna(0)
music_df['Disc Number'] = music_df['Disc Number'].astype(int)
music_df['Track Count'] = music_df['Track Count'].fillna(0)
music_df['Track Count'] = music_df['Track Count'].astype(int)
music_df['Track Number'] = music_df['Track Number'].fillna(0)
music_df['Track Number'] = music_df['Track Number'].astype(int)

In [77]:
album_artist_count_df = music_df.groupby(['Album','Artist'])[['Name']].count()
album_artist_count_df = album_artist_count_df.reset_index()
album_artist_count_df= album_artist_count_df.rename(columns={'Name':'Computed Track Count'})

In [78]:
music_df = pd.merge(left=music_df,how="left" ,right=album_artist_count_df, left_on=[
         'Album', 'Artist'], right_on=['Album', 'Artist'])
music_df['Computed Track Count'] = music_df['Computed Track Count'].fillna(0)
music_df['Computed Track Count'] = music_df['Computed Track Count'].astype(int)

In [82]:
incomplete_albums_df = music_df.loc[music_df['Computed Track Count'] != music_df['Track Count']]

In [94]:
incomplete_albums_df[['Album','Artist']].value_counts()

Album                                                      Artist
Hearts of Space                                            Hearts of Space    100
Hi Fi News & Record Review Test Disc II                    Various Artists     89
Live at the Bbc                                            The Beatles         59
20th Century Superstar                                     Marc Bolan          58
Anthology                                                  John Lennon         56
                                                                             ...
Men Are like Street Cars... Women Blues Singers 1928-1969  Lovey Lewis          1
                                                           Lillian Offitt       1
                                                           Lavelle White        1
City of Angels (Music from the Motion Picture)             Jude                 1
 Loaded In Lawrence 2002 (Live From The Bottleneck)        Ghosty               1
Length: 2772, dtype: int64

In [97]:
incomplete_albums_df.loc[music_df['Artist']=='The Beatles'].loc[ music_df['Disc Count'] ==1 ]

,Name,Artist,Album,Disc Number,Disc Count,Track Number,Track Count,Kind,Computed Track Count
833,Stand by Me,The Beatles,The Complete Rooftop Concert,1,1,18,22,MPEG audio file,1
914,Lady Madonna,The Beatles,Past Masters - Volume Two,1,1,5,15,MPEG audio file,1